<div class="container mx-auto p-4">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <!-- Left column -->
    <app-profile-header
      [memberDetails]="memberDetails()"
      (uploadPhotoClicked)="openPhotoUploadModal()"
      (logoutClicked)="logoutAlert.fire()"
    />

    <!-- Right column -->
    <div class="md:col-span-2 space-y-4">
      <app-profile-about
        [aboutData]="{
          description: memberDetails()?.description,
          interests: memberDetails()?.interests
        }"
      />

      <app-profile-photos
        [photos]="memberDetails()?.photos ?? []"
        (openManagementClicked)="openPhotoManagementModal()"
      />

      <app-profile-details [details]="profileDetails()" />
    </div>
  </div>
</div>

<!-- Logout Alert -->
<swal
  #logoutAlert
  title="Confirm logout?"
  text="When confirmed you will be logged out"
  icon="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="onLogout()"
/>

<swal
  #confirmDeleteSwal
  title="Are you sure you want to delete this photo?"
  text="This action cannot be undone."
  icon="warning"
  [showCancelButton]="true"
  confirmButtonText="Yes, delete it!"
  [focusCancel]="true"
>
</swal>
