<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="flex flex-col gap-3">
    <app-text-input
      formControlName="displayName"
      label="Name"
      [isReadOnly]="isLoading()"
    />
    <app-text-input
      formControlName="email"
      label="Email"
      type="email"
      [isReadOnly]="isLoading()"
    />
    <app-text-input
      formControlName="password"
      label="Password"
      type="password"
      [isReadOnly]="isLoading()"
    />
    <app-text-input
      formControlName="confirmPassword"
      label="Confirm Password"
      type="password"
      [isReadOnly]="isLoading()"
    />
    <app-button
      label="Sign Up"
      [isLoading]="isLoading()"
      type="submit"
      color="secondary"
    />
  </div>
</form>
