<header
  class="fixed top-0 left-0 w-full z-50 bg-gradient-to-r from-secondary to-black text-white shadow-md"
>
  <div class="navbar container mx-auto">
    <!-- Start: Brand & Mobile Menu -->
    <div class="navbar-start">
      <div class="dropdown">
        <button tabindex="0" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow text-secondary font-semibold rounded-box w-52"
        >
          @if(authStore.isLoggedIn()) { @for (link of navigationLinks; track
          link.routerLink) {
          <li>
            <a routerLink="/users" routerLinkActive="bg-secondary text-white">{{
              link.label
            }}</a>
          </li>
          } }
          <li>
            <a routerLink="/errors" routerLinkActive="bg-secondary text-white"
              >Errors</a
            >
          </li>
        </ul>
      </div>
      <a routerLink="/home" class="flex items-center gap-3"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z"
          />
        </svg>
        <h2 class="text-xl font-bold">DatingApp</h2>
      </a>
    </div>

    <!-- Center: Desktop Nav -->
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1 space-x-2 text-white font-semibold">
        @if(authStore.isLoggedIn()) { @for (link of navigationLinks; track
        link.routerLink) {
        <li>
          <a
            routerLink="{{ link.routerLink }}"
            routerLinkActive="bg-white text-secondary"
            >{{ link.label }}</a
          >
        </li>
        } }
        <li>
          <a routerLink="/errors" routerLinkActive="bg-white text-secondary"
            >Errors</a
          >
        </li>
      </ul>
    </div>

    <!-- User Icon with Dropdown -->
    <div class="navbar-end space-x-2">
      @if(authStore.isLoggedIn()) {
      <div class="dropdown dropdown-end">
        <button
          tabindex="0"
          class="btn btn-sm btn-circle bg-white text-secondary"
        >
          <ngx-avatar
            [name]="authStore.currentUser()?.displayName"
            size="40"
            [round]="true"
          ></ngx-avatar>
        </button>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-white text-secondary font-semibold rounded-box w-40"
        >
          <li routerLink="/profile/me">
            <a>Profile ({{ authStore.currentUser()?.displayName }})</a>
          </li>
          <li routerLink="/profile/account-settings">
            <a>Settings</a>
          </li>
          <li>
            <a (click)="logoutAlert.fire()">Logout</a>
          </li>
        </ul>
      </div>
      } @else {
      <button
        class="btn btn-soft btn-outline rounded-full"
        (click)="registerModalRef.open()"
      >
        Sign Up
      </button>
      <app-modal
        #registerModalRef
        title="Sign Up Account"
        (onClose)="registerFormRef.registerForm.reset()"
        ><app-register-form #registerFormRef></app-register-form>

        <ng-container actions>
          <form method="dialog">
            <button
              class="btn btn-ghost mr-2"
              (click)="registerModalRef.close()"
            >
              Cancel
            </button>
          </form>
          <button class="btn btn-primary" (click)="registerFormRef.onSubmit()">
            @if (globalStore.isSubmitting()) {
            <span class="loading loading-spinner"></span>
            } @else { Submit }
          </button>
        </ng-container>
      </app-modal>

      <button
        class="btn btn-secondary btn-outline rounded-full"
        (click)="loginModalRef.open()"
      >
        Sign In
      </button>
      <app-modal
        #loginModalRef
        title="Sign In Account"
        (onClose)="loginFormRef.loginForm.reset()"
      >
        <app-login-form #loginFormRef></app-login-form>

        <ng-container actions>
          <form method="dialog">
            <button class="btn btn-ghost mr-2" (click)="loginModalRef.close()">
              Cancel
            </button>
          </form>
          <button class="btn btn-primary" (click)="loginFormRef.onSubmit()">
            @if (globalStore.isSubmitting()) {
            <span class="loading loading-spinner"></span>
            } @else { Submit }
          </button>
        </ng-container>
      </app-modal>
      }
    </div>
  </div>
</header>

<swal
  #logoutAlert
  title="Confirm logout?"
  text="When confirmed you will be logged out"
  icon="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="authStore.logout()"
>
</swal>
