<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="flex flex-col gap-3">
    <input
      type="email"
      formControlName="email"
      class="input input-bordered w-full"
      [readOnly]="isLoading()"
      [class.input-error]="
        loginForm.get('email')?.invalid && loginForm.get('email')?.touched
      "
      [class.input-success]="
        loginForm.get('email')?.valid && loginForm.get('email')?.touched
      "
      placeholder="Email"
    />
    @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
    <p class="text-error text-[14px]">
      @for(error of loginForm.get('email')?.errors | keyvalue; track error) {
      @switch (error.key) { @case ('required') { Email is required. } @case
      ('email') { Invalid email format. } } }
    </p>
    }

    <input
      type="password"
      formControlName="password"
      [readOnly]="isLoading()"
      class="input input-bordered w-full"
      [class.input-error]="
        loginForm.get('password')?.invalid && loginForm.get('password')?.touched
      "
      [class.input-success]="
        loginForm.get('password')?.valid && loginForm.get('password')?.touched
      "
      placeholder="Password"
    />
    @if(loginForm.get('password')?.invalid &&
    loginForm.get('password')?.touched) {
    <p class="text-error text-[14px]">
      @for(error of loginForm.get('password')?.errors | keyvalue; track error) {
      @switch (error.key) { @case ('required') { Password is required. } @case
      ('minlength') { Password must be at least 6 characters. } } }
    </p>
    }
  </div>
</form>
