@if(isOpen()){
<dialog class="modal" open>
  <div class="modal-box">
    <h3 class="font-bold text-lg mb-4">Login to DatingApp</h3>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4">
      @if(error()){
      <div role="alert" class="alert alert-error">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 shrink-0 stroke-current"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <span>{{ error() }}</span>
      </div>
      }

      <input
        type="text"
        formControlName="username"
        class="input input-bordered w-full"
        placeholder="Username"
      />
      <input
        type="password"
        formControlName="password"
        class="input input-bordered w-full"
        placeholder="Password"
      />
      <div class="modal-action">
        <button
          type="submit"
          class="btn btn-primary btn-sm btn-secondary"
          [disabled]="isLoading()"
        >
          @if(isLoading()){
          <span class="loading loading-spinner loading-sm"></span> Logging In...
          }@else{ Login }
        </button>
        <button type="button" class="btn btn-sm" (click)="close()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</dialog>
}
