<header
  class="p-3 w-full fixed top-0 z-50 bg-gradient-to-r from-secondary to-black"
>
  <div class="flex align-middle items-center px-10 mx-auto gap-6">
    <div class="text-white">
      <a
        class="flex items-center gap-3 max-h-16"
        [ngClass]="{
          'border-r-white border-r-2 pr-6': authService.isLoggedIn()
        }"
        routerLink="/home"
        routerLinkActive="text-primary"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-8"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z"
          />
        </svg>
        <h3 class="text-2xl font-semibold uppercase">Dating App</h3>
      </a>
    </div>
    <nav class="flex gap-4 my-2 uppercase text-lg text-white">
      @if (authService.isLoggedIn()) {
      <a
        class="hover:text-primary"
        routerLink="/users"
        routerLinkActive="text-primary"
        >Matches</a
      >
      <a
        class="hover:text-primary"
        routerLink="/lists"
        routerLinkActive="text-primary"
        >People</a
      >
      <a
        class="hover:text-primary"
        routerLink="/messages"
        routerLinkActive="text-primary"
        >Messages</a
      >
      }
    </nav>
    <div class="flex align-middle ml-auto gap-3">
      @if(authService.userAccountData(); as userAccountData){
      <div class="dropdown dropdown-end">
        <button
          tabindex="0"
          class="flex items-center text-white text-xl gap-3 cursor-pointer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
            />
          </svg>
          {{ userAccountData.firstName }} {{ userAccountData.lastName }}
        </button>
        <ul
          tabindex="0"
          class="dropdown-content dropdown-end menu bg bg-base-100 rounded-box z-1 w-52"
        >
          <li>
            <a class="justify-between" href=""> Profile </a>
          </li>
          <li>
            <a class="justify-between" href=""> Settings </a>
          </li>
          <li>
            <a class="justify-between" href="" (click)="onLogout()"> Logout </a>
          </li>
        </ul>
      </div>
      } @else {
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="flex items-center gap-3"
        autocomplete="off"
      >
        <input
          type="text"
          formControlName="username"
          class="input"
          placeholder="Username"
        />
        <input
          type="password"
          formControlName="password"
          class="input"
          placeholder="Password"
        />
        <button class="btn btn-secondary">Login</button>
      </form>
      }
    </div>
  </div>
</header>
